.takeaway_container {
  position: relative;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  min-height: 800px;
}

.swiper_disabled {
  opacity: 0.2;
}

.swiper_takeaway {
  border: none;
  background-color: white;
}

.swiper_takeaway:hover {
  background-color: white;
}

.takeaway_container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.step_progress {
  margin-top: 10px;
}
