.takeaway_container {
  position: relative;
  border: 5px orange solid;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  min-height: 800px;
}

.order-header{
  position: absolute;
  font-size: 48px;
  color: #606060;;
  top: 120px;
  left: 96px;

}
.swiper_disabled {
  opacity: 0.2;
}

.swiper_takeaway {
  border: none;
  background-color: white;
}

.swiper_takeaway:hover {
  background-color: white;
}

.takeaway_container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.step_progress {
  margin-top: 10px;
}
