.navigation {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: #212529;
  z-index: 9;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.logo {
  width: 162px;
  height: 38px;
  margin-left: 50px;
  margin-right: 35px;
  font-family: "Regattia Stencil";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.input_container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 300px;
}

.input {
  width: 300px;
}

.search_icon {
  position: absolute;
  right: 2px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.link {
  margin-right: 25px;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.navigation_icons_container {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & a {
    width: 50px;
    display: flex;
    align-items: center;
  }
}

.cart_icon {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.profile_icon {
  width: 40px;
  height: 40px;
  margin-right: 60px;
}
