.choose_date_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.calender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
