.profileInfo {
  color: rgba(0, 0, 0, 0.6);

  &__list {
    list-style: none;
    padding: 0 0 5rem 0;
    margin: 0;
  }

  &__item {
    padding-bottom: 29px;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__username {
    padding: 1.5rem 0.5rem;
  }
  &__actions {
    margin: 0 0 5rem 0;
  }

}




