.contacts_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 736px;
  background: #FAF8F8;

  & .contacts {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;

    & .our-contacts {
      display: flex;
      flex: 1;
      flex-direction: column;

      & .our-contacts_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & li {
          display: flex;
          flex-direction: row;
          flex: 1;
          align-items: center;

          & img {
            width: 30px;
            height: 30px;
          }

          & div {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 28px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            color: #000000;
            margin-left: 10px;
            white-space: nowrap;
          }
        }

      }

    }

    & .our-app {
      display: flex;
      flex: 1;
    }
  }

  & .map {
    width: 100%;
    height: 60%;
    background: url('../../assets/background/map.png') center no-repeat;
  }
}
