.profileAddress {
  color: rgba(0, 0, 0, 0.6);


  &__city {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    color: #000000;
  }

  &__info {
    margin: 0 0 5rem 0;

    div {
      padding-bottom: 2rem;
    }
    div:last-child {
      padding-bottom: 0;
    }

    &__text {
      line-height: 4rem;
      margin: 0 0 5rem 0;
    }
  }
}




