.booktable_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border: 5px #EF742F solid;
  border-radius: 5%;
  min-width: 1200px;
  min-height: 800px;
  
}

.swiper_disabled {
  opacity: 0.2;
}

.swiper_booktable {
  border: none;
  background-color: white;
}

.swiper_booktable:hover {
  background-color: white;
}

.booktable_container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.step_progress {
  margin-top: 10px;
}
