.profile {
  font-family: Ubuntu, Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;

  box-sizing: border-box;
  padding: 60px 80px 140px;

  &__title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 60px;
  }

  &__body {
    display: flex;
    //надо добавить свойства для большей адаптивност
  }

  .button {
    & button {
      height: 60px;
      width: 210px;
      padding: 0 0.5rem;
      border-radius: 10px;
      border: none;
      outline: none;
      cursor: pointer;

      background-color: #ef742f;
      color: white;
      font-size: 1.2rem;
      line-height: 1rem;

      &:hover {
        background-color: transparent;
        color: #ef742f;
        box-shadow: inset 0 0 0 3px #ef742f;
      }
      &:active {
        box-shadow: inset 0 0 0 6px #ef742f;
      }

      &:disabled {
        background-color: #606060;
        box-shadow: none;
        color: #FFFFFF;
      }
    }
  }
}

.profile-navigation {
  flex: 0 0 30%;
  display: flex;
  align-items: center;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-bottom: 25px;

    a {
      font: inherit;
      text-decoration: none;
      color: #000;
    }

    a.active,
    a:hover,
    a:active {
      text-decoration: underline;
      color: #EF742F;
      //переделать на border-bottom
    }
  }

  &__item:last-child {
    padding-bottom: 0;
  }

}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 830px;
  min-height: 490px;
  padding: 1rem;

  border: 2px solid #EF742F;
  box-sizing: border-box;
  border-radius: 15px;

  & switch {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 100%;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
      text-align: left;
      padding: 0.5rem 0.5rem;
      border-radius: 4px;
      border: 1px solid #d8d8d8;
      color: rgba(0, 0, 0, 0.6);
    }

    input:focus,
    input:focus-visible {
      border-color: #fff;
      outline: #ef742f solid 2px;
    }

    label {
      display: block;
      font-size: 18px;
      color: #000000;
      margin-bottom: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}