@font-face {
  font-family: "Regattia";
  src: url("../../assets/fonts/RegattiaStencil-Bold.otf");
  font-weight: 700;
}

.header {
  height: 675px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: url(../../assets/background/header_bg.png);
  background-size: cover;
  background-position: center;

  & .header_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    background: linear-gradient(180deg, #212529 0%, rgba(33, 37, 41, 0) 100%);
    position: relative;

    & .header_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 50%;
      align-content: stretch;
      position: relative;
      justify-content: space-between;

      & .header_logo {
        width: 100%;
        height: 35%;
        font-family: "Regattia";
        font-style: normal;
        font-weight: 700;
        font-size: 7rem;
        line-height: 8rem;
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
      }

      & .header_text {
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2rem;
        color: #ffffff;
        width: auto;
        white-space: nowrap;
      }

      & .header_btn {
        width: 40%;
        height: 20%;
        position: relative;

        .button {
          height: 100%;

          & button {
            background: rgba(255, 255, 255, 0.3);
            border: 3px solid #ffffff;
            box-sizing: border-box;
            border-radius: 2px;
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
            color: #ffffff;
            margin-bottom: 0;
            cursor: pointer;
            line-height: normal;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .header {
    & .header_inner {
      & .header_content {
        & .header_logo {
          font-size: 6rem;
        }

        & .header_btn {
          width: 40%;
          height: 20%;
          position: relative;

          .button {
            height: 100%;
            & button {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    & .header_inner {
      & .header_content {
        & .header_logo {
          font-size: 5rem;
        }

        & .header_text {
          font-size: 1.5rem;
        }

        & .header_btn {
          .button {
            height: 100%;
            & button {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 450px;
    & .header_inner {
      & .header_content {
        & .header_logo {
          font-size: 4rem;
        }

        & .header_text {
          font-size: 1.1rem;
        }

        & .header_btn {
          .button {
            height: 100%;
            & button {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .header {
    height: 450px;
    & .header_inner {
      & .header_content {
        & .header_logo {
          font-size: 3rem;
        }

        & .header_text {
          font-size: 1rem;
        }

        & .header_btn {
          .button {
            height: 100%;
            & button {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .header {
    height: 300px;
    & .header_inner {
      & .header_content {
        width: 80%;
        height: 70%;
        & .header_logo {
          font-size: 3rem;
        }

        & .header_text {
          font-size: 1rem;
        }

        & .header_btn {
          .button {
            height: 100%;
            & button {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
