.profileCards {
  color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 0 5rem 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
    &:first-child {
      margin-bottom: 1.5rem;
    }
  }

  &__image{
    margin-right: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 70%;
    margin-right: 2rem;
    div {
      margin-bottom: 0.5rem;
    }
  }

  &__deleteBtn {
    flex: 0 0 20%;
    outline: none;
    background-color: transparent;
    border: 3px solid rgba(239, 116, 47, 1);
    color: rgba(239, 116, 47, 1);
    border-radius: 10px;
    padding: 0.3rem 0.5rem 0.5rem;
    min-width: 3rem;
    height: 2rem;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: rgba(239, 116, 47, 1);
      color: #ffffff;
    }
  }

  &__text {
    text-align: center;
    line-height: 2rem;
    margin: 0 0 5rem 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    & .button:first-child{
      margin-right: 10px;
    }
  }

}