.how_it_works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  position: relative;
  & .label {
    width: 30%;
    height: 20%;
    font-size: 3rem;
    line-height: normal;
    color: #000000;
    margin-top: 40px;
    white-space: nowrap;
    text-align: center;
  }

  & p {
    width: 50%;
    height: 12%;
    font-size: 1.6rem;
    line-height: normal;
    color: #606060;
    margin-top: 28px;
    white-space: nowrap;
    text-align: center;
  }
}

.steps_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  position: relative;
  padding: 2%;
  & .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .step_number {
      width: 47px;
      height: 100%;
      font-family: "Regattia";
      font-style: normal;
      font-weight: bold;
      font-size: 7rem;
      line-height: normal;
      color: rgba(96, 96, 96, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: normal;
      color: #000000;
      margin-left: 12px;
    }
  }
}

.table_reserve_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  & .table_reserve {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 86%;
    height: 85%;
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(96, 96, 96, 0.16); 
    position: relative;
    & p {
      font-size: 3rem;
      line-height: normal;
      color: #000000;
      height: 5%;
    }

    & .inputs_container {
      width: 50%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    & .main_input_container {
      height: 20%;
    }

    & .time_and_date_input_container {
      height: 20%;
      width: 100%;
      & .main_inputCTA_container {
        height: 100%;
        width: 100%;
      }
    }

    & .reserve-btn {
      width: 35%;
      height: 10%;
      background: #EF742F;
      border-radius: 2px;
      font-size: 1.8rem;
      line-height: normal;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
    }
  }
}

.time_and_date_input_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  & div:first-child {
    margin-right: 10px;
  }
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active_tab {
  text-decoration: underline;
}

.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 954px;
  position: relative;
  & .main_menu__title {
    display: flex;
    width: 80%;
    height: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: normal;
    color: #000000;
    justify-content: center;
  }
}

.main_meals_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main_meals_container__btn {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.meals_container {
  width: 80%;
}

.left_btn {
  background-image: url('../../assets/background/btn-left-background.png');
  background-size: cover;
  background-position: center;
}

.right_btn {
  background-image: url('../../assets/background/btn-right-background.png');
  background-size: cover;
  background-position: center;
}

.meals_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border: solid 2px rgb(12, 4, 4);
}

.more_details {
  margin-top: 30px;
  margin-bottom: 100px;
  & a {
    text-decoration: none;
    color: rgb(14, 11, 11);
    border-bottom: 1px solid rgb(14, 11, 11);
  }
}

.main_install_app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px rgb(14, 11, 11);
  margin: 0 auto;
}

.main_install_app {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app_link_container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_logo {
  height: 350px;
  width: 300px;
  & img {
    width: 100%;
    height: 100%;
  }
}

.google_logo {
  width: 200px;
  & a {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1023px) {
  .how_it_works {
    height: 200px;
    & .label {
      width: 80%;
      height: 20%;
      font-size: 2.5rem;
    }
  
    & p {
      width: 80%;
      font-size: 1.4rem;
    }
  }
  
  .steps_container {
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-content: stretch;
    & .step {
      height: 50%;
      width: 50%;
      .step_number {
        width: 20%;
      }
    
      p {
        font-size: 1.3rem;
        white-space: nowrap;
        width: 80%;
      }
    }
  }

  .table_reserve_container {
    height: 550px;
    & .table_reserve {
      height: 75%;
      & p {
        font-size: 2rem;
      }
  
      & .reserve-btn {
        font-size: 1.2rem;
      }
    }
  }

  .main_menu {
    height: 500px;
    & .main_menu__title {
      height: 10%;
      font-size: 2rem;
    }
  }
  
  .main_meals_container__btn {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .how_it_works {
    height: 150px;
  }
  
  .steps_container {
    position: relative;

    & .step:last-child {
      p {
        white-space: pre-wrap;
      }
    }
  }

  .table_reserve_container {
    height: 500px;
    & .table_reserve {
      height: 60%;
      & .main_input_container {
        height: 20%;
      }
  
      & .time_and_date_input_container {
        & .main_inputCTA_container {
          & .main_inputCTA_img  {
            right: 0;
          }

          & .main_inputCTA_img img{
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
  
  .main_menu {
    height: 400px;
  }

  .main_meals_container__btn {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 639px) {
  .how_it_works {
    height: 150px;
    & .label {
      width: 80%;
      font-size: 2rem;
    }
  
    & p {
      width: 80%;
      font-size: 1.1rem;
      white-space: pre-wrap;
    }
  }
  
  .steps_container {
    height: 130px;
    & .step {
      align-items: center;
      position: relative;
  
      .step_number {
        font-size: 4rem;
      }
    
      p {
        font-size: 1.1rem;
        margin-left: 12px;
        white-space: pre-wrap;
      }
    }
  }

  .table_reserve_container {
    height: 300px;
    & .table_reserve {
      height: 80%;
      & p {
        font-size: 1.5rem;
        line-height: normal;
        color: #000000;
      }
  
      & .inputs_container {
        width: 70%;
        height: 40%;
      }
  
      & .time_and_date_input_container {
        & .main_inputCTA_container {
          & .main_inputCTA_img  {
            right: 0;
          }

          & .main_inputCTA_img img{
            height: 15px;
            width: 15px;
          }
        }
      }
  
      & .reserve-btn {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .how_it_works {
    height: 150px;
    & .label {
      width: 80%;
      font-size: 2rem;
    }
  
    & p {
      width: 80%;
      font-size: 1.1rem;
    }
  }
  
  .steps_container {
    height: 150px;
    & .step {
      width: 40%;
      .step_number {
        font-size: 3rem;
      }
    
      p {
        font-size: 0.8rem;
        white-space: pre-wrap;
      }
    }
  }

  .table_reserve_container {
    height: 300px;
    & .table_reserve {
      height: 80%;
      & p {
        font-size: 1.5rem;
      }
  
      & .inputs_container {
        width: 70%;
      }
  
      & .time_and_date_input_container {
        & .main_inputCTA_container {
          & .main_inputCTA_img img{
            height: 15px;
            width: 15px;
          }
        }
      }
  
      & .reserve-btn {
        font-size: 0.8rem;
      }
    }
  }

  .main_menu {
    height: 300px;
    & .main_menu__title {
      font-size: 1.5rem;
    }
  }
}
