.how_it_works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;

  & .label {
    width: 385px;
    height: 55px;
    font-size: 48px;
    line-height: 55px;
    color: #000000;
    margin-top: 40px;
  }

  & p {
    width: 536px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    color: #606060;
    margin-top: 28px;
  }
}

.steps_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;

  & .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .step_number {
      width: 47px;
      height: 120px;
      font-family: "Regattia";
      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      line-height: 120px;
      color: rgba(96, 96, 96, 0.5);
    }
  
    p {
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-left: 12px;
    }
  }
}

.table_reserve_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;

  & .table_reserve {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 86%;
    height: 85%;
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(96, 96, 96, 0.16); 
  
    & p {
      font-size: 48px;
      line-height: 55px;
      color: #000000;
      height: 48px;
    }

    & .inputs_container {
      width: 50%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    & .main_input_container {
      height: 60px;
    }

    & .time_and_date_input_container {
      height: 60px;
      width: 100%;

      & .main_inputCTA_container {
        height: 100%;
        width: 100%;
      }
    }

    & .reserve-btn {
      width: 482px;
      height: 76px;
      background: #EF742F;
      border-radius: 2px;
      font-size: 28px;
      line-height: 32px;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
    }
  }
}

.time_and_date_input_container {
  display: flex;
  flex-direction: row;
  width: 100%;

  & div:first-child {
    margin-right: 10px;
  }
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active_tab {
  text-decoration: underline;
}

.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 954px;

  & .main_menu__title {
    display: flex;
    width: 500px;
    height: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #000000;
  }
}

.main_meals_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main_meals_container__btn {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.left_btn {
  background: url('../../assets/background/btn-left-background.png') no-repeat center;
}

.right_btn {
  background: url('../../assets/background/btn-right-background.png') no-repeat center;
}

.meals_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border: solid 2px rgb(12, 4, 4);
}

.more_details {
  margin-top: 30px;
  margin-bottom: 100px;
  & a {
    text-decoration: none;
    color: rgb(14, 11, 11);
    border-bottom: 1px solid rgb(14, 11, 11);
  }
}

.main_install_app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px rgb(14, 11, 11);
  margin: 0 auto;
}

.main_install_app {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app_link_container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_logo {
  height: 350px;
  width: 300px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.google_logo {
  width: 200px;

  & a {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
